.login_page {
    min-width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/backgrounds/texture_light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}