.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
  border-radius: 12px;
}

.card-info {
  padding: 20px;
}

.card-image {
  width: 100%;
  border-radius: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
}

.card-descr {
  color: rgba(30, 30, 30, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.price-old {
  font-size: 24px;
  color: #999;
  text-decoration: line-through;
}

.price-new {
  font-size: 24px;
  color: #e74c3c;
  font-weight: bold;
}