.sorting-select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--silver);
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.sorting-select:focus {
  border-color: var(--cambridge-blue);
  outline: none;
}