.header {
  background-color: var(--fern-green);
}

.header-wrapper {
  height: 10vh;
  min-height: 70px;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header-link,
.log_out_button {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.sign-in-link,
.sign-up-link,
.log_out_button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.sign-in-link:hover,
.sign-up-link:hover,
.log_out_button:hover {
  background-color: #fff;
  color: var(--fern-green);
  ;
}

.header-logo {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .header-link {
    font-size: 15px;
  }
}
