.header {
  background-color: var(--fern-green);
}

.header-wrapper {
  position: relative;
  height: 80px;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.header-link,
.log_out_button {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}

.sign-in-link,
.sign-up-link,
.log_out_button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.sign-in-link:hover,
.sign-up-link:hover,
.log_out_button:hover {
  background-color: #fff;
  color: var(--fern-green);
  ;
}

.log_out_button {
  background-color: #fff;
  border: 2px solid var(--fern-green);
  color: var(--fern-green);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  cursor: pointer;
}

.log_out_button:hover {
  background-color: var(--fern-green);
  border: 2px solid #fff;
  color: #fff;
}

.header-logo {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 70%; */
  z-index: 1000;
}

.header-burger {
  display: none;
  z-index: 1000;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

.header-link,
.sign-in-link,
.sign-up-link,
.log_out_button {
  text-decoration: none;
  margin: 0 15px;
  position: relative;
}

.header-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.header-link:hover::after,
.header-link.active::after {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.user-profile-link {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-image: url(../../assets/icons/userprofile.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-link {
  background-image: url(../../assets/icons/shopping-cart.png);
}

.cart-link-container {
  position: relative;
}

.loggedin-container {
  display: flex;
  gap: 10px;
}

.quantity-indicator {
  background-color: var(--silver);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: -5px;
}

@media screen and (max-width: 925px) {
  .header-links {
    gap: 10px;
    padding-right: 20px;
  }

  .header-links * {
    margin: 0 auto;
  }

  .header-link,
  .sign-in-link,
  .sign-up-link,
  .log_out_button {
    margin: 0 10px;
  }
}

@media screen and (max-width: 865px) {
  .header-burger {
    display: block;
  }

  .header-links {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }

  .header-nav {
    position: fixed;
    top: 80px;
    right: -100%;
    background-color: var(--fern-green);
    width: 300px;
    height: 91vh;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    gap: 40px;
    padding: 30px 0;
    transition: right .5s ease-in-out;
  }

  .header-nav.open {
    right: 0;
  }

  .header-overlay.open {
    display: block;
  }

  .loggedin-container {
    flex-direction: column;
    align-items: center;
  }
}
