.about {
  background-image: url('../../assets/images/backgrounds/green-texture.jpg');
  background-size: cover;
}

.about-wrapper {
  padding: 100px 50px;
}

.about-container {
  padding: 10px;
  border: 0.5px solid rgb(255, 255, 255);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);

  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}