.product_section {
  padding: 20px;
  background-color: var(--background-color);
}

.swiper.main_slider {
  max-width: unset;
  height: 80%;
  max-height: unset;
  border-radius: 12px;
}

.product_example_card {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.product_example_image {
  display: block;
  max-width: 300px;
}

.product_section_link {
  margin-bottom: 0 auto;
}
